.label-B2B2B2 {
  background-color: #B2B2B2;
  color: #111;
}
.label-FFD700 {
  background-color: #FFD700;
  color: #111;
}
.label-476291 {
  background-color: #476291;
  color: #111;
}
.label-4D7455 {
  background-color: #4D7455;
  color: #111;
}
.label-CF6A32 {
  background-color: #CF6A32;
  color: #111;
}
.label-8650AC {
  background-color: #8650AC;
  color: #111;
}
.label-38F3AB {
  background-color: #38F3AB;
  color: #111;
}
.label-AA0000 {
  background-color: #AA0000;
  color: #111;
}
.label-FAFAFA {
  background-color: #FAFAFA;
  color: #111;
}
.label-70B04A {
  background-color: #70B04A;
  color: #111;
}
.label-70B04A {
  background-color: #70B04A;
  color: #111;
}
.label-A50F79 {
  background-color: #A50F79;
  color: #111;
}